:root {
    --gap: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    list-style: none;
}

ul#gallery>li {
    flex-basis: calc(100%/3 - 2*var(--gap));
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}